.container{
    text-align: center;
}
.calc{
    color: blueviolet;
    background-color: antiquewhite;
    border-radius: 5px;
}
.container{
    background: rgb(174, 199, 247);
}
.body{
    background-color: rgb(174, 199, 247);
    text-emphasis-color: blueviolet;
    color: blueviolet;
}